# Folders
.cache/
.mixin.out/
mods/
backups/
cobblenav/
crash-reports/
data/
datapacks/
debug/
downloads/
exposures/
local/
logs/
moddata/
patchouli_books/
saves/
schematics
screenshots/
shaderpacks/
showdown/
xaero/
XaeroWaypoints_BACKUP240807/
# Files
.curseclient
cherishedworlds-favorites.dat
command_history.txt
emi.json
exposure_catalog_state.json
fabricloader.log
malum_extra.json
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
supportercache.json
uacm.db
ucache.db
user-prefs.json
usercache.json
usernamecache.json